body {
      font-family: Arial, sans-serif;
      background-color: #f0f4f8;
      color: #333;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #4CAF50;
      color: white;
      padding: 20px;
      text-align: center;
    }

    main {
      padding: 20px;
    }

    h2 {
      color: #4CAF50;
    }

    img {
      width: 200px;
      border-radius: 10px;
      margin-top: 10px;
    }

    a {
      color: #1e90ff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 15px;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }
    
     /* toaster notification */
    #toast {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: rgb(190, 47, 73);
      text-align: center;
      border-radius: 8px;
      padding: 16px;
      position: fixed;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
      opacity: 0;
      transition: opacity 0.5s, bottom 0.5s;
    }

    #toast.show {
      visibility: visible;
      opacity: 1;
      bottom: 50px;
    }