*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     
}
body{
    background-color: black;
}
.container{
    background-color: skyblue;
    max-width:600px ;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    margin: 20px auto;
    margin-top: 40px;
    border-radius: 20px;
}
form{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
form input[type="text"]{
    padding: 10px;
    font-size: 18px;
    width:70%;
    border:none;
    outline: none;
    border-radius: 5px;
    background-color: black;
    color: beige;
    
}
form input[type="submit"]{
    padding: 8px 20px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0,2s ease-in;
    cursor: pointer;

}
form input[type="submit"]:hover{
    background-color: rgb(171,75,75);
}
.icon img{
    width:100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.Temp{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 10px;
}
.desc{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.details>div{
    font-size: 18px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    
}